# Configuration

# List of project repo arch schedulers(: sep) to release
PROJECTS="
Mer:Tools Mer_Core_i486 i586 i586
"
# Set this to 1 if there are x86 cross- binaries in the arm/mips repos
CROSS=

# This should point to a public api
API=https://api.pub.meego.com/public

# This should permit rsync of /srv/obs/repos on the OBS be or a
# suitable publishing slave
RSYNC=rsync://cdownload.in.meego.com/repos

# The directory to save the interim MDS and repositories to
OBSDIR=~/obs-repos
RELEASEDIR=~/releases
